<launch>
    <node pkg ="object_detection"	type = "test_sift"	name = "Sift"	ns = "whole"	output="screen">
	<param name ="model"	type="string"	value="whole_r8.pcd"/>
	<param name ="method"	type="string"	value="fpfh"/>
    </node>
    
    <node pkg ="object_detection"	type = "test_sift"	name = "Sift"	ns = "partial"	output="screen">
	<param name ="model"	type="string"	value="left_back_3.5m_word_frame00000.pcd"/>
	<param name ="method"	type="string"	value="fpfh"/>
    </node>

</launch>
